#container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.example-card {
  max-width: 400px;
}
mat-card{
  background-color: white;
  padding: 1rem;
  margin-bottom: 1rem;
  ion-img{
    height: 15rem;
  }
  mat-card-content{
    color: black;
  }
}
