<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Desafio 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Desafio 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <mat-card class="example-card" *ngFor="let producto of productos" routerLink="../detalle/{{producto.id}}">
      <ion-img [src]="producto.img"></ion-img>
      <mat-card-content>
        <h1>{{producto.titulo}}</h1>
        <h5>{{producto.precio | currency}}</h5>
      </mat-card-content>
    </mat-card>
  </div>
</ion-content>
